In [1]:
import pandas as pd
from itertools import combinations
from collections import Counter

In [3]:
df = pd.read_clipboard()

In [19]:
df['geoma_nnid'].unique()

array(['DEBKGGND00000018', 'DEBKGGND00000025', 'DEBKGGND0000004V', ...,
       'DEBKGGND00000UA2', 'DEBKGGND00000770', 'DEBKGGND00000O58'],
      dtype=object)

In [22]:

uniques = df['geoma_nnid'].unique()

In [20]:
uniques['Grouped'] = uniques.groupby('geoma_nnid')['geomb_nnid'].transform(lambda x: ','.join(x)) # transform is similar to apply, but also allows string function and a list of functions
uniques['Grouped']

<ipython-input-20-a15d6bda1f78>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uniques['Grouped'] = uniques.groupby('geoma_nnid')['geomb_nnid'].transform(lambda x: ','.join(x)) # transform is similar to apply, but also allows string function and a list of functions

36                       DEBKGGND0000050R,DEBKGGND00000QTI
37                       DEBKGGND0000050R,DEBKGGND00000QTI
38                       DEBKGGND000002M3,DEBKGGND000006HE
39                       DEBKGGND000002M3,DEBKGGND000006HE
42       DEBKGGND00000IZJ,DEBKGGND00000ENR,DEBKGGND0000...
                               ...
11847                    DEBKGGND00000TZZ,DEBKGGND00000911
11849                    DEBKGGND00003I9Z,DEBKGGND00005M1H
11850                    DEBKGGND00003I9Z,DEBKGGND00005M1H
11853                    DEBKGGND00000C81,DEBKGGND00000T1O
11854                    DEBKGGND00000C81,DEBKGGND00000T1O
Name: Grouped, Length: 3613, dtype: object

In [ ]:
uniques_no_dups = uniques[['geoma_nnid', 'Grouped']].drop_duplicates()
print(uniques_no_dups)

In [5]:
count = Counter()
for row in uniques_no_dups['Grouped']:
    row_list = row.split(',') # split each row into two elements by splitting at the comma
    count.update(Counter(combinations(row_list,2)))

for key, value in count.most_common(10):
    print(key,value)

('DEBKGGND000063UV', 'DEBKGGND000063UU') 3
('DEBKGGND00000Q53', 'DEBKGGND00000K5B') 3
('DEBKGGND000002M3', 'DEBKGGND000006HE') 2
('DEBKGGND000003BA', 'DEBKGGND00005M01') 2
('DEBKGGND00003ILZ', 'DEBKGGND00000494') 2
('DEBKGGND00000JAB', 'DEBKGGND00000RC3') 2
('DEBKGGND00000GZO', 'DEBKGGND00000KRR') 2
('DEBKGGND0000000O', 'DEBKGGND000000EE') 2
('DEBKGGND00000E2P', 'DEBKGGND00000N7P') 2
('DEBKGGND00003F7A', 'DEBKGGND0000075V') 2

In [13]:
df[(df['geoma_nnid'] == 'DEBKGGND000063UV') & (df['geomb_nnid'] == 'DEBKGGND000063UU')]

             geoma_nnid        geomb_nnid
10064  DEBKGGND000063UV  DEBKGGND000063UU

In [14]:
df[(df['geomb_nnid'] == 'DEBKGGND000063UV') & (df['geoma_nnid'] == 'DEBKGGND000063UU')]

             geoma_nnid        geomb_nnid
11060  DEBKGGND000063UU  DEBKGGND000063UV

In [24]:
df.to_csv('C:/Users/adp/Documents/Python Scripts/dgfo2101/combinations.csv')